/MarcelJoachimKloubert.v12.suo
/MarcelJoachimKloubert/obj
/MarcelJoachimKloubert/bin
/MarcelJoachimKloubert.Collections.Tests/obj
/MarcelJoachimKloubert.Collections.Tests/bin
/.vs/MarcelJoachimKloubert/v14/.suo
/MarcelJoachimKloubert/project.lock.json
